# Analysis of retail sales data

### Data Cleaning:  
    * Drop Duplicate rows
    * Find any missing values and fill them with appropriate values or drop if needed.
    * Check for outliers and remove them if needed.
    * Check NaN values and fill them with appropriate values or drop if needed.
    * Change data types of columns if needed.  

### Perform Exploratory data analysis using Power BI:
    *  Barchart - Number of Invoice per month.
    *  Barchart - Number of Invoice per country.
    *  Barchart - Number of Invoices per customer (most frequent buyers) - TOP 10.
    *  Histogram - Price distribution.
    *  Boxplot - Price distribution.
    *  Violinplot - Price distribution of non cancelled orders vs cancelled orders.
    *  Lineplot - Commulative sum of revenue per day.
    *  Lineplot - sum of revenue per day.
    *  Scatterplot - Price vs Quantity.
    *  Scatterplot - Price vs Quantity of cancelled orders.
    *  Piechart - Percentage of cancelled orders vs non cancelled orders.
    *  Heatmap - avg money spent per order per country.
    *  Geospatial - total money spent per country.     
    
### Binary classifier to detemine whether order be cancelled or not and probability of cancellation:  
    * Data Preprocessing 
    * Feature Engineering
    * Model Building
    * Model Evaluation

In [4]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel('./data/Online Retail.xlsx')
print(df.shape)

In [5]:
df['Cancelled'] = np.where(df['InvoiceNo'].astype(str).str.startswith('C'), 1, 0)

In [17]:
# check if orders duplicated if they cancelled
df[df['InvoiceNo'].astype(str).str.contains('536379') | df['InvoiceNo'].astype(str).str.contains('536383')]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Cancelled
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom,1
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom,1

In [25]:
df = df.drop_duplicates()
df.shape

(536641, 9)

In [26]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Cancelled
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,0
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,0
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,0
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,0
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,0

In [31]:
df.groupby('InvoiceNo')

CustomerID
17841.0    7812
14911.0    5898
14096.0    5128
12748.0    4459
14606.0    2759
           ...
18068.0       1
13256.0       1
15590.0       1
16138.0       1
15389.0       1
Name: count, Length: 4372, dtype: int64